@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color1: #bfe4e1f6;
  --color1-dark: rgb(182, 203, 230);
  --color1-darker: rgb(54, 82, 119);
  --color2: rgb(28, 27, 31);
  --color2-dark: rgb(113, 188, 207);
  --color2-darker: rgb(157, 225, 230);

  --bg-main: #f0f2f5;
  --bg-body: #fff;
  --color-txt: #000;
  --filled-color: #000;
  --filled-bg: #caf0f8;

  --white: #fff;
  --blue: #73bbd4;
  --red: #e91e63;
  --black: #000;

  --nav-size: 70px;
  --sudoku-cell-size: 50px;

  --border-radius: 10px;

  --space-y: 20px;

  --gap: 5px;

  --font-size: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.tile {
  /* width: var(--sudoku-cell-size);
  height: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--blue);
  display: grid;
  place-items: center;
  text-align: center;
  font-size: var(--font-size);
  cursor: pointer;
  border: 1px solid black;
  /* margin-left: -1px;
  margin-top: -1px; */
  /* caret-color: transparent;  */
  box-shadow: #63627754 0px 2px 4px, #6767745d 0px 7px 13px -3px,
    #3f3b6c54 0px -3px 0px inset;
}

.tile:hover {
  background-color: var(--filled-bg);
  color: var(--filled-color);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.tile:focus {
  background-color: var(--filled-bg);
  color: var(--filled-color);
}

.taken {
  background-color: var(--color1-dark);
  color: var(--color2);
}

.tile.init {
  background-color: var(--color1-darker);
  color: var(--color2-dark);
}

.highlight {
  background-color: var(--color1);
  filter: blur(0.2px);
  box-shadow: 1px 1px 9px -4px rgba(255, 255, 255, 0.2);
  transform: scale(0.97);
  transition: ease-in-out 300ms;
  color: rgb(0, 0, 0);
}
